@import "../../_globalColor";

.meter {
  height: 20px;
  position: relative;
  background: $progressBarBackground;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $progressBarSpanBG;
  position: relative;
  overflow: hidden;
}
.skill {
  line-height: 3.5vw;
}
.skill-bars {
  font-size: 28px;
  width: 40%;
}
.skills-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}
.skills-container > * {
  flex: 1;
  margin-bottom: 30px;
}
.skills-image > img {
  margin-left: 80px;
  max-width: 90%;
  height: auto;
}

/* Media Query */

@media (max-width: 1456px) {
  .skills-bar {
    line-height: 4rem;
  }
  .skills-image {
    display: none;
    order: 2;
  }
}

@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
  }
  .skills-bar {
    line-height: 3rem;
    margin: 20px;
  }
  .skills-image {
    display: none;
    order: 2;
  }
}

ul.dev-icons {
  display: flex;
  flex-wrap: wrap; /* 여러 줄 지원 */
  gap: 20px; /* 아이템 간의 간격 */
  list-style: none; /* 불필요한 리스트 스타일 제거 */
  justify-content: center; /* 중앙 정렬 */
  padding: 0; /* 기본 여백 제거 */
}

li.software-skill-inline {
  display: flex;
  flex-direction: column; /* 아이콘과 텍스트 세로 정렬 */
  align-items: center; /* 가운데 정렬 */
  margin: 10px; /* 각 아이템 주위에 간격 추가 */
}

li.software-skill-inline i {
  font-size: 3rem; /* 아이콘 크기 조절 */
  margin-bottom: 5px; /* 아이콘과 텍스트 간 간격 */
}

li.software-skill-inline p {
  font-size: 1rem; /* 텍스트 크기 조절 */
}
